.main__btn {
    background: #3E8CE2;
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
